* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#content {
    position: absolute;
    background:white;
    color: #000;
    width: 40%;
    margin:10% 30%;
    border-radius: 10px;
}

h3 {
    font-family: sans-serif;
    padding: 20px 20px 10px 10px;
}

hr{
    margin-top: 20px;
}

#input-item {
    margin-top: 10px;
    border: none;
    padding:15px;
    width: 80%;
    font-style:italic ;
    color: brown;
    font-size: small;
}

#input-item:hover {
    margin-top: 10px;
    border: none;
    padding:15px;
    width: 80%;
    font-style:italic ;
    font-size: small;
    margin-left: 8px;
    transition: 0.5s all ease-in;
}

::placeholder {
    color: brown;
}


#input-item:focus {
  content: '';
  outline: none;
  color: brown;
}

#clearBtn {
    width: 100%;
    padding: 18px;
    margin-top: 5px;
    border-radius: 0px 0px 10px 10px;
    border: none;
    font-size: large;
}

#clearBtn:hover {
    color: #fff;
    background-color: brown;
    transition: 0.5s all ease-in;
    cursor: pointer;
}

/* JS  Classes*/
.inputList {
    border: none;
}

.inputList:focus {
    content: '';
    outline: none;
    border-bottom:brown solid 1px;
}

.listDiv {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* cursor: pointer; */
}